*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/* cabecera */

header{
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.logo{
    padding: 25px 0;

}

.logo img{
    width: 100px;
    display: block;
    margin: auto;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    max-width: 430px;
    margin: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.menu a{
    text-decoration: none;
    color: #7a7a7a;
    font-size: 14px;
}

.menu a:hover{
    color: #a4281f;
}

/* fin de cabecera */

/* banner principal */

.banner{
    width: 100%;
    height: 500px;
    background-image: url(../assets/images/principal.webp);
    background-position: center;
    background-size: cover;
}

.banner > div{
    width: 100%;
    height: 100%;
    background-color: rgba(209, 219, 189, 0.1);
}

.llamada-accion{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.llamada-accion p{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.llamada-accion h1{
    font-size: 48px;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    padding: 45px 0;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 470px;
}

.llamada-accion a{
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 35px;

    transition: all 0.3s ease-in-out;
}

.llamada-accion a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* fin de banner principal */

/* seccion de bienvenida */

.bienvenida{
    width: 100%;
    background-color: rgba(121, 118, 118, 0.8);
    margin-top: 2px;
    color: #000;
    text-align: center;
}

.bienvenida h2{
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.bienvenida p{
    font-size: 16px;
    padding-bottom: 36px;
    line-height: 1.7em; /*espaciado-altura entre lineas*/
    max-width: 370px;
    margin: 0 auto;
}

/* fin de seccion de bienvenida */

/* seccion sobre nosotros */

.nosotros{
    padding-bottom: 80px;
}

.nosotros > .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.foto-equipo{
    width: 100%;
    max-width: 570px;
    margin-top: 2px;
}

.foto-equipo img{
    width: 100%;
}

.conocenos{
    text-align: center;
    padding: 15px 0;
    max-width: 570px;
}

.conocenos p:nth-child(1){
    font-size: 14px;
    color: #3c1c22;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.conocenos h3{
    padding-top: 20px;
    padding-bottom: 30px;
    color: #0c96dd;
    font-size: 18px;
}

.conocenos p:nth-child(3){
    font-size: 14px;
    color: #3c1c22;
    padding-bottom: 25px;
}

.conocenos p:nth-child(4){
    font-size: 14px;
    color: #646464;
    padding-bottom: 20px;
}

.conocenos p:nth-child(6){
    font-size: 14px;
    color: #646464;
    padding-bottom: 20px;
}

.conocenos p:nth-child(8){
    font-size: 14px;
    color: #646464;
    padding-bottom: 20px;
}

.conocenos a{
    display: block;
    height: 50px;
    background-color: rgba(0, 255, 255, 1);
    color: #000;
    font-weight: bold;
    font-size: 15px;
    padding-top: 13px;

    transition: background-color 1s ease;
    border-radius: 10px;
}

.conocenos a:hover{
    background-color: rgba(0, 255, 255, 0.3);
}

@media all and (min-width:769px){
    .nosotros{
        padding-top: 80px;
    }
    .foto-equipo{
        margin-right: 30px;
    }
    .conocenos{
        padding-left: 30px;
        text-align: left;
    }
    .conocenos a{
        text-align: center;
    }
    .nosotros > .contenedor{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
        
    }
}

/* fin de seccion sobre nosotros */

/* pie de pagina */

.top-footer{
    background-color: #193441;
    height: 25px;
}

.center-footer{
    background-color: #152d37;
    padding-top: 20px;
}

.center-footer .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center-footer .widget{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #7a7a7a;
    max-width: 270px;
    margin: 0 auto;
}

.widget h4{
    color: rgba(255, 0, 0, 0.8);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.center-footer .widget p{
    font-size: 16px;
    padding: 0px 10px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
}

.center-footer .widget p a{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 15px;
    color: #000;
    justify-content: center;
}

.widget img{
    cursor: pointer;
    width: 100%;
    height: 450px;
    padding: 0 15px;
}

.bottom-footer{
    background-color: #193441;
    height: 25px;
}

.bottom-footer p{
    font-size:12px;
    color: #7a7a7a;
    text-align: center;
}

.widget .text{
    color: #7a7a7a; 
}

.parra{
    font-size: 18px;
    line-height: 30px;
}

@media all and (min-width:769px){
    .center-footer .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* fin del pie de pagina */
